html {
	background-image: 
}

#photo {
	border-radius: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 100px;
    width: auto;
}

#content h1 {
	font-family: 'Kite One', sans-serif;
}

#content p {
	font-family: 'Kite One', sans-serif;
}